*{
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}

body{
    overflow-x: hidden;
}

.nav{
    display:flex;
    background-color: rgba(211, 210, 210, 0.411);
    top:0;
    left:0;
    padding-top:5px;
    padding:10px 5px;
    position:sticky;
    box-shadow: 2px 2px 5px rgba(66, 65, 65, 0.3);
    z-index:9;
}

.header-img{
    width:120px; 
    height:30px;
}

.nav-container{
    display:flex;
    text-align: center;
    margin-left: auto;
}

.nav-item{
    padding:0 25px;
}

.nav .logo{
    padding-left:5px;
}

.nav-container li div a{
    text-decoration: none;
    color:rgb(85, 83, 83);
    font-style: italic;
    font-size: large;
}

.nav-container li div a:hover{
    opacity:0.7;
}

.bg-img{
    margin-top:15px;
    width: 100%;
    height: calc(120vh - 120px);
    background-image: url('img/header.jpg');
    opacity:0.8;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img .bg-logo{
    width:30%;
    height:auto;
    display: block;
    margin: auto;
}

.bg-img .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size:2.5vw;
    font-weight: 300;
}
.bg .bg-img .content hr{
    color:whitesmoke;
}
.sub-heading{
    background: rgb(245, 239, 239);
    margin:20px;
    padding:5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.product{
    position: relative;
    overflow: hidden;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.623);
    margin:30px 0;
    padding:0 5vw;
    border-radius: 5px;
}

.product-category{
    padding: 5px 0;
    color: white;
    font-size: 3.5vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-style:italic
}

.product-container{
    padding: 0 5vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 500px;
    margin-right: 40px;
    overflow-y: auto;
    scroll-behavior: smooth;

}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-thumb:hover{
    opacity:0.8;
}

.product-card:hover{
    box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.74);
}

.product-card:hover .card-btn{
    box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.74);
    opacity: 1;
}

.card-btn:hover{
    background: #222121;
    color:#dad2d2;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 600;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.btn-product{
    text-align:center;
    margin: 10px 45%;
    margin-top:20px;
    font-size: 3vw;
}

.testi-container{
    width:auto;
    padding:10px 200px;
    padding-bottom:20px;
    padding-left:15%;
}

.testi h2{
    font-size: 3vw;
    text-align:center;
    padding:10px;
    text-transform: uppercase;
}

.carousel-item{
    width:100%;
    height:auto;
}

.btn{
    background: rgb(120, 122, 120);
}

.btn a{
    color:white;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover{
    background: rgb(82, 83, 82);
}

.keypoint{
    padding: 20px;
    overflow-x: hidden;
    background: rgba(236, 234, 234, 0.788);
}

.keypoint h2{
    color:rgb(63, 62, 62);
    font-style: italic;
    font-size: 3vw;
    text-align:center;
    padding:10px;
    font-weight: 700;
}

.keypoint .key-container{
    display:flex;
}

.keypoint .key-container .key-content{
    width:40%;
    padding:20px;
    float:left;
}

.keypoint .key-container .key-content li{
    margin: 10px;
    padding: 10px;
    border-left: 2px solid grey;
    color: grey;
    text-align:left;
    box-shadow: 0px 3px 65px 0px rgb(0,0,0,0.15);
    font-size:1vw;
}

.keypoint .key-container .key-img{
    width:40%;
    margin-left:auto;   
}

.keypoint .key-container .key-img img{
    width:80%;
}

.keypoint hr{
    color: rgb(63, 62, 62);
}

.team{
    padding:30px;
    background-color: rgb(134, 133, 133);;
}

.team-container{
    display:flex;
}

.team h2{
    color:rgb(255, 255, 255);
    font-style: italic;
    font-size: 3vw;
    text-align:center;
    padding-bottom:20px;
    font-weight: 700;
}

.team-content{
    width:60%;
    padding:10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.team-content p{
    width:80%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.team-video{
    width:60%;
    padding:20px;
    padding-left:5vw;
    align-items: flex-end;
}

.team-video video{
    width:100%;
}

.feed{
    padding:50px 10px;
    background: rgba(236, 234, 234, 0.788);
}

.feed h2{
    background: rgb(77, 75, 75);
    color:rgb(2355, 255, 255);
    font-style: italic;
    font-size: 2.7vw;
    font-weight: 700;
    text-align:center;
    padding-bottom:20px;
}

.feed .feed-form{
    text-align:center;
}

.feed .feed-form form{
    padding:20px;
}

.feed .feed-form form input{
    width: 30%;
    margin: 10px;
    padding:10px;
    outline:none;
    border:none;
}

.feed .feed-form form input:focus{
    border-left:3px solid grey;
    box-shadow: 2px 2px 5px rgba(61, 59, 59, 0.288);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.feed .feed-form form textarea:focus{
    border-left:3px solid grey;
    box-shadow: 2px 2px 5px rgba(61, 59, 59, 0.288);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.feed .feed-form form textarea{
    width: 30%;
    margin: 10px;
    padding:10px;
    outline:none;
    border:none;
}

.feed .feed-form form button{
    width: 12%;
    margin: 10px;
    padding:10px;
    outline:none;
    border:none;
    color:rgb(255, 255, 255);
    background-color: grey;
    border-radius: 10px;
    font-size: 1vw;
}

.feed .feed-form form button:hover{
    background-color: rgba(128, 128, 128, 0.822);
    box-shadow:2px 2px 5px rgba(63, 63, 63, 0.562);
}



.footer{
    background: rgb(134, 133, 133);
    color: rgb(78, 76, 76);
    height:500px;
    padding:30px 0px;
    text-align:center;
}

.logo-footer{
    width:400px;
    height:auto;
    margin:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgba(75, 73, 73, 0.822);
}

.f-element{
    margin:21px;
    
}

.f-element a{
    text-decoration:none;
    color: rgb(78, 76, 76);    
}

.f-element a:hover{
    color:rgb(209, 199, 199);
}

.social a{
    margin:10px;
    font-size:25px;
}

.contact a{
    margin:10px;
    font-size:25px;
}

.copy{
    background: white;
    width:100%;
}

.copyright{
    font-size:1vw;
}



@media screen and (max-width:700px){
    .nav{
        flex-direction:column;
    }
    .header-img{
        width:100%;
        height:auto;
    }
    .nav-container{
        margin-top:20px;
        flex-direction: column;
        margin-left: 0;
    }
    .nav-container li:hover{
        box-shadow: 2px 2px 5px rgba(66, 65, 65, 0.3);
    }
    .nav-item{
        padding:5px 0px;
    }
    .bg-img{
        width:100%;
        height:auto;
    }
    .bg-logo{
        opacity:0;
    }
    .sub-heading{
        margin-top:0;
        padding:1px 12px;
        font-size:4vw;
    }
    .logo-footer{
        width:80%;
        height:auto;
    }
    .btn-product{
        font-size:3vw;
    }
    .testi-container{
        padding:10px 40px;
    }
    .keypoint .key-container .key-content{
        width:60%;
    }

}

@media screen and (max-width:600px){
    .keypoint{
        overflow-y:hidden;
    }
    .keypoint .key-container{
        display:grid;
        grid-template-columns: 1fr,0fr;
        padding-right:10%;
    }
    .keypoint .key-container .key-img{
        width:0.5%;
        height:10px;
        opacity:0;
    }
    .keypoint .key-container .key-content{
        width:100%;
    }
    .keypoint .key-container .key-content li{
        font-size:2.5vw;
    }
    .copyright{
        font-size:2.5vw;
    }
    .feed .feed-form form input{
        width:70%;
    }
    .feed .feed-form form textarea{
        width:70%;
    }
    .feed .feed-form form button{
        font-size:1.7vw;
    }
}

@media screen and (max-width:800px){
    .keypoint .key-container .key-img img{
        width:100%;
    }
    .keypoint .key-container .key-img{
        width:55%;
    }
    .copyright{
        font-size:2vw;
    }
    .keypoint .key-container .key-content li{
        font-size:1.7vw;
}

@media screen and (max-width:1000px){
    .feed{
        overflow-x:hidden;
    }
    .feed .feed-form form input{
        width:50%;
    }
    .feed .feed-form form textarea{
        width:50%;
    }
}

@media screen and (max-width:1200px){
    .team{
        padding:10px;
        overflow-x:hidden;
    }
    .team-container{
        flex-direction: column;
        justify-content: center;
    }
    .team-video{
        margin-left: auto;
        margin-right: auto;
        width:90%;
        height:35vw;
        padding-left:15vw;
    }
    .team-content{
        width:100%;
        padding:10px 10px;
    }
    .team-content p{
        margin-left:auto;
        margin-right: auto;
    }
}